<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tbody>
      <tr>
        <td class="input-field col s4">
          <%= f.text_field :title %>
          <%= f.label :title %>
        </td>
        <td class="input-field col s4">
          <%= f.date_field :date, class: "datepicker" %>
          <%= f.label :date %>
        </td>
      </tr>
      <tr>
        <td class="input-field col s4">
          <%= f.select :plan_time, [
            ["1Man-Hr", 1], ["2Man-Hr", 2], ["3Man-Hr", 3]
          ] %>
          <%= f.label :plan_time %>
        </td>
        <td class="input-field col s4">
          <%= f.radio_button :frequency, :today %>
          <%= f.label :frequency_today, "today only" %>
          <%= f.radio_button :frequency, :every_week %>
          <%= f.label :frequency_every_week, "every week" %>
          <%= f.radio_button :frequency, :every_day %>
          <%= f.label :frequency_every_day, "every day" %>
        </td>
        <td class="input-field col s4">
          <%= f.radio_button :purpose, :work %>
          <%= f.label :purpose_work, "work" %>
          <%= f.radio_button :purpose, :challenge %>
          <%= f.label :purpose_challenge, "challenge" %>
          <%= f.radio_button :purpose, :study %>
          <%= f.label :purpose_study, "study" %>
        </td>
      </tr>
      <tr>
        <td class="input-field col s4">
          <%= f.range_field :importance, in: 0..100 %>
          <%= f.label :importance %>
        </td>
        <td class="input-field col s4">
          <%= f.range_field :urgency, in: 0..100 %>
          <%= f.label :urgency %>
        </td>
      </tr>
      <tr>
        <td class="input-field col s12">
          <%= f.text_area :memo, class: "materialize-textarea" %>
          <%= f.label :memo %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
