<div class="tasks-complete">
  <p id="notice"><%= notice %></p>

  <h1>Complate Tasks</h1>

  <h2>Today's Tasks</h2>
  <%= render partial: "tasks", collection: @today_tasks, as: :task %>

  <%= form_tag 'slack', method: :get do %>
    <% @today_tasks.each do |today_task| %>
      <%= fields_for "tasks[]", today_task do |fi| %>
        <%= fi.hidden_field :title %>
        <%= fi.hidden_field :date %>
      <% end %>
    <% end %>

    <%= submit_tag "slackで送る", :disabled => false, :disable_with => "Please wait..." %>
  <% end %>


  <h2>All Tasks</h2>
  <%= render partial: "tasks", collection: @not_today_tasks, as: :task %>
</div>