<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

  <ul class="collection">
    <% @tasks.each do |task| %>
      <li class="collection-item avatar">
        <i class="material-icons circle">list</i>
        <p class="title"><%= task.title %></p>
        <p><%= task.plan_time %></p>
        <p class="trancate"><%= task.memo %></p>
        <div class="secondary-content">
          <%= link_to task do %>
            <i class="small material-icons">visibility</i>
          <% end %>
          <%= link_to edit_task_path(task) do %>
            <i class="small material-icons">mode_edit</i>
          <% end %>
          <%= link_to task, method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="small material-icons">delete</i>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

<br>

<%= link_to new_task_path do %>
  <i class="small material-icons">add</i>
<% end %>
